


<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-x-twitter"></i>

        </div>
        <div class="f-info-brand"> &copy;WanderLust privated limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer>